/* Homepage profile styles */

.profile-container {
  flex-basis: 100%;
  height: auto;
  padding: 0 100px;
}

img.profile {
  width: 100%;
  height: auto;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

hr.profile {
  flex-basis: 80%;
  margin: -10px 10px 0 10px;
  height: 1px;
  border: none;
  background: #2B2B2B;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#2B2B2B), to(#fff));
  box-shadow: 0 1px 3px 0 rgba(207, 205, 205, 0.5);
}

.action-panel {
  flex-basis: 100%;
  display: block;
  margin-top: 30px;
}


/* Social buttons styles */

.social-container {
  flex-basis: 312px;
  display: flex;
  flex-wrap: none;
  margin-top: 15px;
}

.icon-container {
  flex-grow: 1;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.social-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  transition: 0.2s;
}
.social-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}


/* Skills section styles */

.skills {
  background: #FF6347;
}

.canvas-container {
  opacity: 0;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: auto;
  margin-top: -100px
}

.skills-label {
  flex-basis: 100%;
  text-align: center;
  height: 50px;
  color: white;
  padding-top: 50px;
}

/* Body Styles */

#timeline {
  width: 100vw;
  height: auto;
}

.full-flex {
  flex-basis: 100%;
  height: auto;
}

.info-section {
  flex-basis: 100%;
  height: auto;
  margin: 20px 0;
  padding: 10px 50px;
  color: white !important;
}

.half-flex {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
}

.flex-middle {
  display: flex;
}

.center-flex {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

#particles-js {
  background: transparent !important;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100
}
