/* Homepage profile styles */

.profile-container {
  flex-basis: 100%;
  height: auto;
  padding: 0 100px;
}

img.profile {
  width: 100%;
  height: auto;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

hr.profile {
  flex-basis: 80%;
  margin: -10px 10px 0 10px;
  height: 1px;
  border: none;
  background: #2B2B2B;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#2B2B2B), to(#fff));
  box-shadow: 0 1px 3px 0 rgba(207, 205, 205, 0.5);
}

.action-panel {
  flex-basis: 100%;
  display: block;
  margin-top: 30px;
}


/* Social buttons styles */

.social-container {
  flex-basis: 312px;
  display: flex;
  flex-wrap: none;
  margin-top: 15px;
}

.icon-container {
  flex-grow: 1;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.social-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  transition: 0.2s;
}
.social-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}


/* Skills section styles */

.skills {
  background: #FF6347;
}

.canvas-container {
  opacity: 0;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: auto;
  margin-top: -100px
}

.skills-label {
  flex-basis: 100%;
  text-align: center;
  height: 50px;
  color: white;
  padding-top: 50px;
}

/* Timeline Styles */

#timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: flex-end; */
  width: 100%;
  height: auto;
  padding: 20px 30px;
  /* background: #fb93ff; */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fb93ff 40%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fb93ff 40%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#fb93ff 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#hash-container {
  position: absolute;
  height: 5000px;
  width: 100px;
  left: 0px;
  top: 100vh;
}

.hash {
  opacity: 0;
  position: relative;
  height: 4px;
  width: 25px;
  background: ghostwhite;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01);
  margin-bottom: 95px;
  border-radius: 0 50% 50% 0;
}

hr.hashhr {
  opacity: 0;
  position: absolute;
  margin-top: 1px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  width: 100vw;
}

.full-flex {
  flex-basis: 100%;
  height: auto;
}

.info-section {
  flex-basis: 100%;
  height: auto;
  margin: 20px 0;
  padding: 10px 50px;
  color: white !important;
}

.half-flex {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
}

.flex-middle {
  display: flex;
}

.center-flex {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.up-icon-bottom {
  display: block;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.up-icon-bottom:hover {
  cursor: pointer;
}

#particles-js {
  background: transparent !important;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100
}
