/* Homepage profile styles */

@keyframes mini-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.09);
  }

  100% {
    transform: scale(1)
  }
}

.profile-container {
  flex-basis: 100%;
  height: auto;
  padding: 0 100px;
}

img.profile {
  width: 100%;
  height: auto;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

hr.profile {
  flex-basis: 80%;
  margin: -10px 10px 0 10px;
  height: 1px;
  border: none;
  background: #2B2B2B;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#2B2B2B), to(#fff));
  box-shadow: 0 1px 3px 0 rgba(207, 205, 205, 0.5);
}

.action-panel {
  flex-basis: 100%;
  display: block;
  margin-top: 30px;
}


/* Social buttons styles */

.social-container {
  flex-basis: 312px;
  display: flex;
  flex-wrap: none;
  margin-top: 15px;
}

.icon-container {
  flex-grow: 1;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.social-icon {
  width: 50px;
  height: auto;
  border-radius: 50%;
  transition: 0.2s;
}
.social-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/* Body Styles */

#timeline {
  width: 100vw;
  height: auto;
}

.full-flex {
  flex-basis: 100%;
  height: auto;
}

.info-section {
  flex-basis: 100%;
  height: auto;
  margin: 20px 0;
  padding: 10px 50px;
  color: white !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.half-flex {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  height: auto;
}

.flex-middle {
  display: flex;
}

.center-flex {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

#particles-js {
  background: transparent !important;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -100
}

.chevron-up {
  width: 40px;
  height: 40px;
  animation-duration: .8s;
  animation-name: mini-pulse;
  animation-iteration-count: infinite;
}

.grid-bg-bottom {
  background-image: url('../assets/Square-Grid-Black-top.png');
  background-size: cover !important;
  position: absolute;
  z-index: -90;
  height: 100vh;
  width: 100vw;
}

.gradient-bg-bottom {
  position: absolute;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-180deg, #ffffff 0%, #b7b7b7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-180deg, #ffffff 0%,#b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(-180deg, #ffffff 0%,#b7b7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.skill-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.cs-logo {
  max-width: 20%;
  margin: 0 5px;
  /* margin: 0px; */
}
