@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
  margin: 0;
  padding: 0;
  color: white;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Native styles overwrite */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}

h2.subtitle {
  font-weight: 300;
  font-size: 30px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}

h3.skills-header {
  margin: 5px 0 15px 5px;
  font-weight: 400;
}

h3.skill-label {
  color: #666666;
  font-weight: 100;
  text-transform: capitalize;
}

hr {
  width: 90%;
  max-width: 700px;
  margin: -4px auto;
  border: 1px solid white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.center {
  text-align: center;
}

/* Main classes */
.full-container {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.content {
  margin: auto;
  width: 704px;
  height: auto;
  display: flex;
}

.profile-img {
  flex-basis: 350px;
}

img.profile {
  width: 100%;
}

.info {
  flex-grow: 1;
}

.name {
  text-align: center;
  padding-top: 40%;
}

.icon {
  background-color: #FF8385;
  border-radius: 50%;
  margin-top: 15px;
  width: 50px;
  transition: .15s
}

.icon:hover {
  transform: translate(0, -3px);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}

#sectionTitle {
  display: none;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 300px;
  padding: 0 15px 0 0;
  text-align: right;
}

/*Work Page Classes*/

#skills-section {
  box-sizing: border-box;
  flex-basis: 200px;
  max-height: 100%;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.4);
}

#skills-container {
  box-sizing: border-box;
  width: 100% inherit;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 100% inherit;
  flex-basis: 100%;
  display: inline-flex;
  height: 40px;
  margin: 5px 0 0px 5px;
  transition: .15s;
}
.skill:hover {
  transform: translateX(10px);
}

.skill-icon {
  height: 30px;
  width: 30px;
}

.skill-label {
  padding: 0px 5px;
}

#projects-section {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 15px;
  height: 100% inherit;
}

#projects-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /*border: 1px solid white;*/
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.project {
  height: 200px;
  display: block;
  min-width: 380px;
  margin: 20px auto;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  transition: .2s
}
.project:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.4);
}

img.projectImg {
  width: auto;
  height: 200px;
}

.project-info {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 380px;
  border: 1px solid blue;
}
