@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/*Main classes*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFED;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  /*color: #333333;*/
  color: #38454F;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: #38454F;
  margin: 0;
  font-size: 20px;
}

hr.bottom-line {
  margin-top: -4px;
  border: 0;
  height: 1px;
  background-color: slategray;
  /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.8);*/
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

/*Helper Classes*/

.center {
  text-align: center;
}

.right {
  float: right;
}

/*Other classes*/

#very-center {
  width: 100%;
  height: 400px;
  max-width: 600px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

img.profile {
  width: 100%;
  height: auto;
  min-height: 400px;
}

.section {
  flex-grow: 1;
  flex-shrink: 1;
  width: 30%;
}
