#nav-container {
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.logo-container {
  width: 250px;
  height: 75px;
  margin: 0 auto;
  /*border: 1px solid gray;*/
}

.hamburger {
  height: 45px;
  width: auto;
  transition: .2s;
}

.hamburger:hover {
  transform: scale(1.05);
}
